body {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
}

.container{
  margin: 0 auto;
  background: black;
}

header{
  width: 100%;
  background: #0A0909;
  display: flex;
  h1{
    color: white;
    font-size: 45px;
    margin-left: 50px;
  }
}

.header_logo{
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    font-size: 42px;
    margin-top: 25px;
    margin-left: 6%;
    margin-bottom: 10px;
}